NEXT_PUBLIC_VER=dev, 1.0
#NEXT_PUBLIC_RAJNI_API_ENDPOINT=http://localhost:5001 
NEXT_PUBLIC_RAJNI_API_ENDPOINT=https://rajni-jewel-api-dev.azurewebsites.net
NEXT_PUBLIC_CDN_URL=https://cof0storage0dev.blob.core.windows.net/cdn
NEXT_PUBLIC_CDN_SAS_URL=https://cof0storage0dev.blob.core.windows.net/cdn?sp=c&st=2026-01-25T14:59:11Z&se=2036-01-25T23:14:11Z&spr=https&sv=2024-11-04&sr=c&sig=A8P9%2FNUdkVF%2BjJs9knP1H9pQnSmcThHfCmT18o%2Fh4NQ%3D